/* ------------------------
Fonts
------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* ------------------------
Variables
------------------------ */
:root {
  --dark-violet: #7158e2;
  --light-violet: #7d5fff;
  --light-dark: #4b4b4b;
  --dark: #3d3d3d;
  --sunflower: #f1c40f;
  --carrot: #e67e22;
  --alizarin: #e74c3c;
  --emerald: #27ae60;
  --peter-silver: #3498db;
  --white: #ffffff;
  --white-alpha-40: rgba(255, 255, 255, 0.40);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --dark-alpha-20: rgba(72, 84, 96, 0.20);
}
/* ------------------------
Global Settings
------------------------ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  padding: 35px 15px;
  font-weight: 300;
  font-size: 16px;
  background-image: linear-gradient(to bottom right, var(--light-violet), var(--dark-violet));
  background-attachment: fixed;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--light-dark);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-violet);
}

/* select */
select option {
  background: var(--light-dark);
  border: 1px solid var(--light-dark);
  border-top: none;
  transition: all 0.5s ease-in-out;
}

/* margin */
.m-left {
  margin-left: 10px
}

/* Display */
.active {
  visibility: visible !important;
}

/* Container */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* App Title */
.app-title {
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
}
.app-description {
  color: var(--white-alpha-40);
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 40px;
}

/* Loading */
.load {
  color: var(--white-alpha-40);
  font-size: 60px;
  animation: spin 1s linear infinite;
}

/* Card */
.card {
  position: relative;
  max-width: 1400px;
  margin: auto;
  padding: 50px;
  box-shadow: 10px 10px var(--dark-alpha-20);
  background: var(--dark);
}

/* Menu */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu-left label {
  font-size: 12px;
  color: var(--white-alpha-20);
}

/* Search */
.search,
.search:active,
.search:focus {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 8px;
  background: var(--white-alpha-25);
  border: 1px solid var(--light-dark);
  color: var(--white);
  width: 30%;
}

/* Button Section */
.action {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.action a {
  padding: 10px 15px;
  cursor: pointer;
  transition-property: background, border;
  transition-duration: 0.5s;
}

.action a.add {
  background: var(--emerald);
  border: 1px solid var(--emerald);
}

.action a.report {
  background: var(--dark-violet);
  border: 1px solid var(--dark-violet);
}

.action a.close {
  width: 50px;
  height: 50px;
  padding: none;
  background: var(--alizarin);
  border: 1px solid var(--alizarin);
  border-radius: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action a:hover {
  background: var(--light-dark);
  border: 1px solid var(--light-dark);
}

.action.exit {
  position: absolute;
  top: -13px;
  right: -13px;
}

/* Badge Section */
.badge {
  margin-left: 10px;
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  border-radius: 30px;
}

.badge-in-progress {
  color: var(--white);
  background: var(--dark-violet);
}

.badge-screening {
  color: var(--dark);
  background: var(--sunflower);
}

.badge-exam {
  color: var(--white);
  background: var(--peter-silver);
}

.badge-initial {
  color: var(--white);
  background: var(--carrot);
}

.badge-final {
  color: var(--white);
  background: var(--emerald);
}

.badge-completed {
  color: var(--white);
  background: var(--dark-violet);
}

.badge-failed {
  color: var(--white);
  background: var(--alizarin);
}

/* Alert section */
.alert {
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  background: var(--light-dark);
  border: 1px solid var(--light-dark);
  text-transform: capitalize;
  animation: fadeAlert 5s ease-in-out forwards;
}

.alert.success {
  color: var(--emerald);
}

.alert.fail {
  color: var(--alizarin);
}

/* Table Section */
.table {
  font-size: 14px;
  width: 100%;
  text-align: center;
  border: 1px solid var(--light-dark);
}

.table th,
.table td {
  border-bottom: 1px solid var(--light-dark);
  padding: 10px 8px;
}
.table tr:last-child td {
  border-bottom: none !important;
}

.table-action a {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.table-action span {
  padding: 0 8px;
  color: var(--white-alpha-25);
}

.table-action a:hover {
  color: var(--light-dark);
}

.table-action a.view {
  color: var(--sunflower);
}

.table-action a.edit {
  color: var(--peter-silver);
}

.table-action a.delete {
  color: var(--alizarin);
}

/* Form Section */
.form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.form .form-group {
  margin-bottom: 15px;
  justify-content: space-between;
}

.form .form-group:last-child {
  margin-bottom: none;
  margin-top: 10px;
}

.form .form-group label {
  font-weight: 400;
}

.form .form-group .form-control,
.form .form-group .form-control:active,
.form .form-group .form-control:focus {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 8px;
  background: var(--white-alpha-25);
  border: 1px solid var(--light-dark);
  color: var(--white);
  width: 100%;
}

.form .form-group .button {
  width: 100%;
  padding: 10px 15px;

  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.form .form-group .button.add {
  background: var(--emerald);
  border: 1px solid var(--emerald);
}

.form .form-group .button.save {
  background: var(--peter-silver);
  border: 1px solid var(--peter-silver);
}

.form .form-group .button:hover {
  background: var(--light-dark);
  border: 1px solid var(--light-dark);
}

/* Content section */
.content {
  padding: 20px;
  background: var(--light-dark);
  margin-bottom: 30px;
  width: 100%;
}

.content:last-child {
  margin-bottom: none;
}

.content .content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content .content-header .ch-item:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content .content-header .note {
  margin-left: 10px;
  color: var(--white-alpha-25);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.content .content-header .note:hover {
  color: var(--white);
}

/* Personal Details */
.personal-details {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--light-dark);
}

.personal-details .profile {
  width: 150px;
  height: 150px;
  margin-right: 50px;
  font-size: 80px;
  border-radius: 50%;
  color: var(--dark);
  background: var(--light-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.information .exam-content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.information .exam-content .alert {
  margin-bottom: 0 !important;
  margin-left: 20px;
}

.information .button {
  width: auto;
  padding: 10px 15px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.information .button.resend:hover {
  background: var(--light-dark);
  border: 1px solid var(--light-dark);
}

.information .button span {
  margin-right: 10px;
}

.information .button.resend {
  background: var(--emerald);
  border: 1px solid var(--emerald);
}

.overall {
    visibility: hidden;
    background: var(--light-dark);
    color: var(--white-alpha-20);
    position: absolute;
    right: 0;
    top: 0;
    margin: 50px;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    overflow: hidden;
}

.overall div {
  margin: -20px;
}

.overall span {
  font-size: 15px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.content h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.content ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.content ul li {
  flex: 1 1 40%;
  margin: 10px 10px 10px 0;
  list-style: none;
}

.hired {
  color: var(--emerald);
  font-size: 20px;
  margin-left: 10px;
}

/* Exam Evaluation */
.evaluation {
  display: flex;
  flex-direction: row;
}

.evaluate-left,
.evaluate-right {
  flex: 1 1 50%;
}

.evaluate-right .evaluate-result {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.evaluate-right .evaluate-result .evaluate-score {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid var(--white-alpha-25);
}

.evaluate-right .evaluate-result .score-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 10px;
}

.evaluate-right .evaluate-result .icon {
  display: flex;
  font-size: 50px;
  margin-right: 20px;
}

.evaluate-right .evaluate-result .icon.passed {
  color: var(--emerald);
}

.evaluate-right .evaluate-result .icon.failed {
  color: var(--alizarin);
}

.evaluate-right .evaluate-result .text {
  color: var(--white-alpha-25);
  text-transform: uppercase;
  text-align: center;
}

.evaluate-right .evaluate-result .score {
  font-size: 70px;
  margin-top: -20px !important;
  color: var(--white-alpha-40);
}

.evaluate-right .evaluate-result .score span {
  font-size: 45px;
}

/* Statistics Section */
.statistics {
  max-width: 1400px;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.statistics .row {
  flex: 1 20%;
}

.statistics .row:nth-child(1),
.statistics .row:nth-child(3) {
  display: flex;
  justify-content: flex-end
}

.statistics .row .stat-content {
  width: 300px;
  margin: 10px 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.statistics .row:nth-child(1) .stat-content {
  margin-left: 0;
}

.statistics .row:nth-child(4) .stat-content {
  margin-right: 0;
}

.statistics .row .stat-content.screening {
  background: var(--sunflower);
}

.statistics .row .stat-content.passed-exam {
  background: var(--peter-silver);
}

.statistics .row .stat-content.passed-initial {
  background: var(--carrot);
}

.statistics .row .stat-content.passed-final {
  background: var(--emerald);
}

.statistics .row .stat-content .img-container {
  border-right: 1px solid var(--white-alpha-25);
  padding: 10px;
  padding-left: 0;
  margin-right: 20px;
  font-size: 80px;
  display: flex;
  align-items: center;
}

.statistics .row .stat-content .body .stat-description {
  text-transform: uppercase;
  font-size: 12px;
}

.statistics .row .stat-content .body .stat-value {
  font-size: 50px;
}

/* Charts Section */
.chart {
  width: 1200px;
}

.chart .chart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.chart .chart-header div:first-child {
  width: 1000px;
}

.chart .chart-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart .chart-body .doughnut {
  width: 500px;
}

/* Modal Section */
.modal {
  font-size: 16px;
  padding: 20px;
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
}
.modal > .header {
  width: 100%;
  font-size: 18px;
  text-transform: capitalize;
}

.modal > .header span {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-alpha-40);
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
  background: none !important;
}

.modal .content .logs {
  position: relative;
  margin-top: 20px;
}

.modal .content .logs::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--dark-violet);
}

.modal .content .logs .logs-item {
  position: relative;
  padding: 10px 0 20px 40px;
}

.modal .content .logs .logs-item::before {
  content: '';
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--dark-violet);
  left: 0;
  top: 16px;
  border-radius: 50%;
}

.modal .content .logs .logs-item .date {
  color: var(--white-alpha-40);
  font-size: 14px;
}

.modal .content .logs .logs-item .logs-message {
  margin-top: 10px;
  text-transform: none;
}


/* Overwrite (Modal) */
.popup-content {
  background: var(--dark) !important;
  border: 1px solid var(--dark) !important;
}

.modal > .content {
  margin-bottom: 0 !important;
}


/* Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeAlert {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
